<div class="chatPg">
  <div class="hdrCht">
    <span class="ltBar">
      <span class="chatexitBnt">
        <img
          src="./assests/icons/arrow.png"
          alt="back to chats"
          class="extIcon"
        />
      </span>
      <span class="nmcl"></span>
    </span>

    <span class="menucl"></span>
  </div>
  <br />
  <div class="mnCht">
    <div class="mnchtMgs">
      <p>messages</p>
      <img src="/assests/animations/loading.gif" width="50" alt="" />
    </div>
    <div>
      <br /><br /><br /><br /><br />
    </div>
  </div>

  <div class="ftrCht">
    <div class="ftrchtConts">
      <div class="mgstxtinptcl">
        <input type="text" class="inptcl" placeholder="Type message ..." />
      </div>
      <div class="mgssndcl">
        <button id="chtsbmtBtnid">
          {{! this mgs send class below here will coz issues, delete it if it does and add another way }}
          <span><img
              class="chtsbmtBtn"
              src="/assests/icons/message.png"
              width="20"
              alt=""
              id="sndicnid"
            /></span>
        </button>
      </div>

    </div>

  </div>
</div>