<div class="chatPg">
  <div class="hdrCht">
    <span class="nmcl"></span>
    <span class="menucl"></span>
  </div>
  <br />
  <div class="mnCht">
    <div class="mnchtMgs">messages</div>
  </div>
  <br />
  <br />
  <div class="ftrCht">
    <input type="text" class="inptcl" placeholder="Type message ..." />
    <button class="chtsbmtBtn">send</button>
  </div>
</div>