<div class="chatPg">
  <div class="hdrCht">
    <span class="ltBar">
      <span class="chatexitBnt">
        <img
          src="./assests/icons/arrow.png"
          alt="back to chats"
          class="extIcon"
        />
      </span>
      <span class="nmcl"></span>
    </span>

    <span class="menucl"></span>
  </div>
  <br />
  <div class="mnCht">
    <div class="mnchtMgs">
      <p>messages</p>
      <img src="/assests/animations/loading.gif" width="50" alt="" />
    </div>
  </div>

  <div class="ftrCht">
    <input type="text" class="inptcl" placeholder="Type message ..." />
    <button class="chtsbmtBtn">send</button>
  </div>
</div>