<div class="loginPage">
  <p>login page</p>
  <label for="usernamelbl">username:</label>
  <input type="text" class="usernameInput" /><br />
  <label for="emaillbl">email:</label>
  <input type="text" class="emailInput" /><br />
  <label for="passwordlbl">password:</label>
  <input type="text" class="passwordInput" />
  <p class="erPlank" style="display: none;"></p>
  <br />
  <button class="subloginBtn">submit</button>
</div>