<div class="loginPage">
  <p>Signup page</p>
  <label for="usernamelbl">username:</label>
  <input type="text" class="signupusernameInput" /><br />
  <label for="emaillbl">email:</label>
  <input type="text" class="signupemailInput" /><br />
  <label for="passwordlbl">password:</label>
  <input type="text" class="signuppasswordInput" />
  <p class="ersignupPlank" style="display: none;"></p>
  <br />
  <button class="subsignupBtn">submit</button>
</div>