<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chat_websocket.com</title>
    <link rel="stylesheet" href="/src/css/index.css" />
  </head>
  <body>
    <div class="Home">
      <div class="navBar">
        <span>chat_websocket</span>
        <span class="profIcon">U</span>
      </div>
      <div>
        <button class="loginBtn">login</button>
      </div>
      <br /><br />
      <div>
        <input id="inputID" type="text" />
        <button onclick="sendmgs()">send</button>
        <p id="logId"></p>
      </div>
    </div>

    <script defer src="/dist/js/app.js"></script>
  </body>
</html>